name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]

jobs:
    dart-test:
        name: Dart test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: dart-lang/setup-dart@v1

            - name: Install dependencies
              run: dart pub get

            - run: dart test

    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: dart-lang/setup-dart@v1

            - name: Install dependencies
              run: dart pub get

            - run: npm run build

            - run: npm pack
              working-directory: build

            - name: Upload
              uses: actions/upload-artifact@v6
              with:
                  name: build
                  path: build

    wasm-test:
        name: Run ${{ matrix.runtime }} tests on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        needs: wasm-build
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                runtime: [deno, node, bun]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: build

            - uses: denoland/setup-deno@v2
              if: matrix.runtime == 'deno'
              with:
                  deno-version: 2.x
            - uses: actions/setup-node@v6
              if: matrix.runtime == 'node'
              with:
                  node-version-file: ".node-version"
            - uses: oven-sh/setup-bun@v2
              if: matrix.runtime == 'bun'
              name: Install bun

            - run: npm run test:${{ matrix.runtime }}
