name: Test

on:
  push:
    branches:
      - "*"
  pull_request:
    types: ["opened", "reopened", "synchronize"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - run: dart test

      - name: Build
        run: scripts/build.sh
        shell: bash

      - run: npm pack
        working-directory: build

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build

  deno-test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - uses: denoland/setup-deno@v1
        name: Install Deno
        with:
          deno-version: v1.x

      - run: deno test --allow-read

  node-test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - uses: actions/setup-node@v4
        name: Install Node
        with:
          node-version-file: ".node-version"

      - run: node --test

  bun-test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - uses: oven-sh/setup-bun@v2
        name: Install bun

      - run: bun test test_bun
